<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="AlipayRequest">
            <directory suffix="Test.php">tests/Request/Alipay</directory>
        </testsuite>
        <testsuite name="AlipayResponse">
            <directory suffix="Test.php">tests/Response/Alipay</directory>
        </testsuite>
        <testsuite name="HuaweiResponse">
            <directory suffix="Test.php">tests/Response/Huawei</directory>
        </testsuite>
        <testsuite name="WeChatRequest">
            <directory suffix="Test.php">tests/Request/WeChat</directory>
        </testsuite>
    </testsuites>
</phpunit>